body {
    background-color: rgb(44, 2, 3);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: rgb(95, 12, 12);
    margin: auto;
    padding: 50px;
    max-width: 800px;
    color: rgb(252, 249, 248);
}

section {
    background-color: rgb(85, 12, 12);
    margin: auto;
    padding: 50px;
    max-width: 800px;
    color: rgb(162, 65, 65);
}

#verhaal {
    background-color: rgb(91, 20, 34);
}

#Weetjes over scream6 { background-color: brown;}


#Shots {
    background-color: 
    rgba(102, 25, 25, 0.907);
    color: rgb(203, 1, 1);
}

h1{
    text-align: center;
}

h2{
    background-color: rgb(72, 7, 7);
    color: rgb(163, 56, 56);
}
h1 {background-color: rgb(108, 25, 25);
color: rgb(74, 12, 12);}