html, body {
    height: 100%;
    background-color: rgb(201, 201, 201);
}

header {
    height: 120px;
    ba
}

main {
    height: calc(100% - 120px);
    ba
}

.tijdlijn-container {
    display: flex;
    gap: 20px;
    overflow: auto;
    
    scroll-snap-type: proximity;
    overflow-x: auto;
}
.tijdlijn-item {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: àpx;
    border-style: ridge;
    border-width: 5mm;
    border-color: rgb(5, 4, 3);
    min-width: 40ch;
    
    scroll-snap-align: start;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.824);
}

img {
    width: 100%;
    filter: grayscale(80%);
}

