body{ 
    background-color: rgb(212, 241, 212);
    color: rgb(78, 118, 78);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{ 
    background-color: rgb(173, 228, 173);
    padding: 3%;
    margin: 2%;
}
nav{
    display:flex;
    gap: 30px;
}
nav a{
    padding:10px ;
    background-color: rgb(97, 146, 97);
    color: rgb(218, 236, 218);
    text-decoration: none;
}
nav a:hover{
    background-color: rgb(149, 187, 149);
}
.galerij {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}
img {
    max-width: 100%;
}