body {
    background-color: rgb(122, 120, 120);
    color: black;
}

header {
    text-align: center;
    background-color: rgb(184, 183, 183);
    padding: 20px;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

main {
    margin: auto;
    max-width: 400px;
}

section {
    background-color: rgb(255, 254, 254);
    padding: 10px;
    margin-bottom: 32px;
}