html, body {
    height: 100%;
}
body {background-image:url(afbeeldingen/1900x1900-000000-80-0-0.jpg);}
header 
main {align-items: center;
height:calc(100% - 120px);}

.tijdlijn-container {

    display: flex;
    gap: 40px;
    overflow-x:auto; 
    text-align: center;
}

ijdlijn-container {
    scroll-snap-type: x proximity;
    overflow-x:auto
    
}

.tijdlijn-item {
    scroll-snap-align: start;
}
main{background-color: aliceblue;}
header{text-align: center;
}
h1{color: rgb(179, 19, 19);}