@import url("https://use.typekit.net/gzf3vpn.css");

body{
    font-family: "shantell-sans-bouncy", sans-serif;
    background-image: url("afbeeldingen/pinboard.jpeg");
    background-size: cover;
}

.polaroid {
    position: absolute;
    width: 200px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.525);
    padding: 8px;
    padding-top: 12px;
    border-radius: 3px;
    text-align: center;
}

.polaroid img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    filter: invert(20%) brightness(120%) contrast(150%);


}

#polaroid1 {
    top: 50%;
    left: 50%;
    rotate: 1deg;
}

#polaroid2 {
    top: 30%;
    left: 15%;
    rotate: -6deg;
}

#polaroid3 {
    top: 70%;
    left: 70%;
    rotate: 23deg;
}

#polaroid4 {
    top: 10%;
    left: 60%;
    rotate: 15deg;
}

#polaroid5 {
    top: 73%;
    left: 10%;
    rotate: 12deg;
}

#polaroid6 {
    top: 30%;
    left: 60%;
    rotate: -60deg;
}

#polaroid7 {
    top: 20%;
    left: 35%;
    rotate: -30deg;
}

#polaroid8 {
    top: 70%;
    left: 35%;
    rotate: -20deg;
}

#polaroid9 {
    top: 30%;
    left: 80%;
    rotate: 30deg;
}

#polaroid10 {
    top: 0%;
    left: 5%;
    rotate: -55deg;
}