body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: #45250f;
  text-align: center;
  animation: fadein 1s ease-in;
}
@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
nav a {
  padding: 3px;
  color: black;
  text-decoration: none;
}

header {
  background: linear-gradient(120deg, #e9f2fd, #000000);
  padding: 40px 0;
  text-align: center;
  color: rgb(0, 0, 0);
  text-align: center;
}

header h1 {
  font-size: 3rem;
  margin: 0;
  letter-spacing: 2px;
}

main {
  padding: 40px;
  max-width: 1100px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
a {
  color: black;
  display: flex;
  justify-content: center;
}

h2 {
  color: #45250f;
  font-size: 1.8rem;
  margin-bottom: 10px;
  border-bottom: 2px solid #45250f;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
}
h1 {
  display: flex;
  justify-content: center;
}

p {
  line-height: 1.6;
  font-size: 17px;
  margin-bottom: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

header a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

a:hover {
  text-decoration: underline;
}
.gallerij {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

img {
  max-width: 100%;
}
.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin-top: 30px;
}

.image-container img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.gallerij img {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 8px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 10%;
}

.gallerij img:hover {
  filter: brightness(0.5);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay img {
  vertical-align: middle;
  max-width: 30%;
  object-fit: cover;
  border-radius: 12px;
}

.overlay.active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 600px) {
  .gallerij {
    grid-template-columns: 1fr;
  }
}
.ACM img{
  align-items: center;
}
footer{
  transition: 0.3s;
}
footer:hover{

 transform: rotate(20deg);
}