body {
    background-color: lightskyblue;
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #2a3d4f;
    color: white;
    text-align: center;
    padding: 20px 0;
}
h1 {
    margin: 0;
}
nav {
    text-align: center;
    background-color: #009688;
    padding: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    font-size: 18px;
}
nav a:hover {
    background-color: #00796b;
    border-radius: 5px;
}
section {
    padding: 20px;
}
.container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.article {
    width: 45%;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.article img {
    width: 100%;
    border-radius: 8px;
}
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}