html,
body,
main {
height: 100%;
overflow: hidden;
}

body {
background-color: rgb(34, 20, 73);
background-image: url(Afbeeldingen/jeremy-thomas-E0AHdsENmDg-unsplash.jpg);
background-size: cover;
font-family: monospace;
}

main {
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: rgb(255, 255, 255);
}

h1 {
font-size: 3rem;
}

p {
font-size: 2rem;
}

.planet {
position: absolute;
width: 30%;
top: 50%;
left: 75%;
}

.planet-1 {
top: 15%;
left: 5%;
animation: orbit1 6s infinite linear;
}

.planet-2 {

animation: orbit2 6s infinite linear;
}

.ster-1,
.ster-2 {
position: absolute;
width: 5%;
top: 50%;
left: 75%;
}

.ster-1 {
top: 75%;
left: 10%;
animation: twinkle 3s infinite linear;
}

.ster-2 {
animation: twinkle 3s infinite linear;

top: 5%;
left: 80%;
}


@keyframes orbit1 {
from {
transform: rotate(0deg) translateX(30px) rotate(0deg);
}

to {
transform: rotate(360deg) translateX(30px) rotate(-360deg);
}
}

@keyframes orbit2 {
from {
transform: rotate(0deg) translateX(-30px) rotate(0deg);
}

to {
transform: rotate(360deg) translateX(-30px) rotate(-360deg);
}
}

@keyframes twinkle {
from {
opacity: 0.2;
}

to {
opacity: 1;
}
}