html {
    background-color: white;
}

body {
    background-color: rgba(7, 4, 4, 0.579);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgba(255, 255, 255, 0.97);
    color: rgb(0, 0, 0);
    text-align: center;
}

main{
    max-width: 550px;
    margin: auto;
}
section{
    background-color: floralwhite;
    margin: 32px;
}
section div{
    padding: 32px;
}
.profiel{
    padding: 20px;
}
.profielfoto{
    width: 100px;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
}
.statistieken{
    display: flex;
    justify-content: space-around;
}
#profiel{padding: 20px;}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.grid img{
    border-radius: 20px;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}
.grid img:hover{
    filter: brightness(0,5);
    cursor: pointer;
}
img{
    width: 100px;
}