
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif; 
    background-color: #7c7272; 
    color: #333;
}


.tijdlijn-container {
    display: flex;
    gap: 30px; 
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    padding: 40px 30px; 
    justify-content: flex-start; 
    background-color: #959595; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; }
    


.tijdlijn-item {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 320px; 
    background-color: #f3f3f3; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    text-align: center;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.tijdlijn-item img {
    width: 70%; 
    height: auto;
    max-width: 100%;
    border-radius: 4px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-bottom: 15px; 
}


.tijdlijn-item h2 {
    font-size: 1.8
    rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px; 

}
.tijdlijn-item h3 {
    font-size: 30px;
    font-weight: normal;
    color: #4b4b4b;
    margin-bottom: 10px; 
}


.tijdlijn-item p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}


.tijdlijn-container::-webkit-scrollbar {
    height: 8px; }

.tijdlijn-container::-webkit-scrollbar-thumb {
    background-color: #ff0000;
    border-radius: 7%;
}


