body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: blanchedalmond;

}

.polaroid {
    position: absolute;
    width: 200px;
    padding: 16px;
    background-color: azure;
    box-shadow: 2px  2px 10px;
}

.polaroid img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    filter: invert(0.) brightness(1.5) contrast(0.7);
}

#paroid_01 {
    left: 33%;
    top: 40%;
    rotate: 10deg;
}
#paroid_02 {
    left: 40%;
    top: 80%;
    rotate: -10deg;
}
#paroid_03 {
    left: 50%;
    top: 20%;
    rotate: 0deg;
}
#paroid_04 {
    left: 15%;
    top: 23%;
    rotate: 23deg;
}
#paroid_05 {
    left: 70%;
    top: 69%;
    rotate: 7deg;
}
#paroid_06 {
    left: 55;
    top: 30%;
    rotate: -26deg;
}
#paroid_07 {
    left: 13%;
    top: 58%;
    rotate: 0deg;
}
#paroid_08 {
    left: 65%;
    top: 35%;
    rotate: 10deg;
}
#paroid_09 {
    left: 80%;
    top: 40%;
    rotate: 24deg;
}
#paroid_10 {
    left: 27%;
    top: 73%;
    rotate: 20deg;
}
#paroid_11 {
    left: 50%;
    top: 59%;
    rotate: -9deg;
}