html,
body,
main {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: darkgrey;
    background-image: url(fotos/achtergrond.jpeg);
    background-size: cover;
    color: aliceblue;
    font-family: monospace;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

.planeet {
    position: absolute;
}

.mars {
    width: 20%;
    top: 8%;
    left: 10%;
    animation: orbit 1s infinite linear;
}

.mercurius {
    width: 45%;
    top: 65%;
    left: 40;
    animation: orbit 1s infinite linear;
}

.ster-2 {
    width: 15%;
    top: 75%;
    left: 10%;
    animation: twinkle 1s infinite alternate;

}

.ster-1 {
    width: 25%;
    top: 75%;
    left: 80%;
    animation: twinkle 1s infinite alternate
}

@keyframes twinkle {
    from {
        opacity: 45%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes orbit {
    from {
        transform: rotate(0deg) translateX(50px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(50px) rotate(-360deg);
    }
}
