
        body {
            background-color: blanchedalmond;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: black;
        }
main{
    padding: 30px;
    
}

section{background-color:rgb(147, 37, 37);

}


  header {
    background-color: rgb(135, 38, 38);
    padding: 40px;
  }

h2{
    margin-bottom: 20px;
}


#hobbys{
    background-color: rgb(255, 240, 240);
}



