@import url("https://use.typekit.net/zrz0mbx.css");
.polaroid{
    width: 200px;
    position: absolute;
    background-color: #f0f8ff;
    box-shadow: 25%;
    box-sizing: border-box;
    padding: 1%;
}
.polaroid img {
    width: 100%;
}
body{
    font-family: "fuzzy-bubbles", sans-serif;
     font-weight: 400;
     font-style: normal;
     background-image: url(Afbeeldingen/textuur.avif);
     background-size: cover;
}
#polaroid1 {
    top: 95%;
    left: 5%;
    rotate: 15deg;
}
#polaroid2 {
    top: 190%;
    rotate: -8deg;
    left: 5%;
}
#polaroid3 {
    left: 40%;
    rotate: 5deg;
}
#polaroid4 {
    left: 40%;
    top: 95%;
    rotate: -7deg;
}
#polaroid5 {
    left: 40%;
    top: 170%;
    rotate: 10deg;
}
#polaroid6 {
    left: 80%;
    rotate: -4deg
}
#polaroid7 {
    left: 80%;
    top: 95%;
    rotate: 5deg;
}
#polaroid8 {
    left: 80%;
    top: 170%;
    rotate: 7deg;
}



