* {
    box-sizing: border-box;
}

body {
margin: 0;
font-family: sans-serif;
}

main{
    margin: auto;
    max-width: 500px;
}

form{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0); 
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
}

label {
    display: block;
    margin: 10px 0;
}

input,
textarea{
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
}

button {
    border: none;
    border-radius: 4px;
    padding: 10px;
    background: #007bff;
    color:white;
    cursor: pointer;
}

button:hover{
    background: #0056b3;
}