@import url(https://use.typekit.net/ntl3iyf.css);
body {
    background-color: #f4f4f4;
    color: #222222;
    font-family: "willard-sniffin-script", sans-serif;
  }
  
header {
    margin: 2px;
    padding: 2px;
    background-color: #585757;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 40px;
    font-weight: bold;
  }
  a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
  }
  nav {
    display: flex;
    gap: 60px;
    justify-content: center;
  }
  nav a {
    padding: 10px;
    background-color: #585757;
    color: #ffffff;
    text-decoration: none;
  }
  footer {
    background-color: #2c2a2a; 
    color: #ffffff;
    text-align: center;
    padding: 20px; 
    font-size: 20px; 
    font-style: italic; 
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.2); 
    margin-top: 50px;
}
main {
  max-width: 1200px;  
  margin: 0 auto; 
  padding: 2rem; 
  background-color: #f9f9f9; 
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif; 
  line-height: 1.6; 
  color: #333333; 
}

main h2 {
  font-size: 2rem; 
  color: #4a90e2; 
  margin-bottom: 1rem;
}

main p {
  font-size: 1rem;
  margin-bottom: 1.5rem; 
}

main img {
  display: block; 
  max-width: 100%;
  height: auto; 
  margin: 1rem auto; 
  border-radius: 10px; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.galerij {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}
@media (max-width: 600px) {
  .galerij {
    grid-template-columns: 1fr;
  }
}