:root {
    --text: #e7e7e7;
    --bgcolor: #222;
    --fgcolor: color-mix(in srgb, var(--bgcolor), black 20%);
    --headerbg: #111e;
}

body {
    margin: 0;
    font-family: system-ui;
    background-color: var(--bgcolor);
    color: var(--text);
    line-height: 1;
}

header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    padding: 2rem;
    background-color: var(--headerbg);
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

header h1 {
    margin: 0;
    flex: 0 0 auto;
}

header nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 50%;
    gap: 1.5rem;
}

header nav a {
    white-space: nowrap;
    display: block;
    text-decoration: none;
    border-radius: 0.25rem;
    transition: background-color 0.2s;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}

main {
    padding-top: 8rem;
}

section {
    padding: 2rem;
    padding-bottom: 3rem;
    scroll-margin-top: 8rem;
}

section:nth-child(even) {
    background-color: color-mix(in srgb, var(--bgcolor), white 2.5%);
}

h2 {
    margin-bottom: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}

.grid-container div {
    padding: 1.5rem;
    border: 1px solid #fff2;
    min-width: 0;
    overflow-wrap: break-word;
    word-break: break-word;
}

.grid-container div:hover {
    background-color: #fff1;
}

h3 {
    margin-top: 0;
}

ul {
    padding: 0;

}

li {
    margin-bottom: 1em;
    list-style-type: '↪ ';
    list-style-position: inside;
}

a {
    color: #77e;
    text-decoration: none;
}

@media(max-width:1500px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(max-width:1000px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    header {
        height: auto;
        padding: 0.75rem;
        gap: 0.5rem;
    }

    header h1 {
        width: 100%;
        margin: 0.5rem 0;
        font-size: 1.5rem;
    }

    header nav {
        grid-template-columns: 1fr 1fr;
        width: 75%;
        gap: 1rem;
        padding: 0;
    }

    header nav a {
        padding: 0;
    }

    main {
        padding-top: 7rem;
    }

    section {
        padding: 1rem;
        padding-bottom: 2rem;
        scroll-margin-top: 7rem;
    }

    h2 {
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
    }
}

#popup-overlay {
    position: fixed;
    z-index: 2;
    /* shorthand top, right, bottom, left */
    inset: 0;
    padding: 2.5rem;
    /* display becomes flex JS */
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#popup-overlay[data-visible="true"] {
    display: flex;
}

#popup-content {
    background-color: var(--bgcolor);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.75ch;
    background-color: var(--fgcolor);
}

#popup-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
    padding: 1rem 0;
}

#popup-title a {
    color: var(--text);
    text-decoration: none;
}

#popup-title a:hover {
    text-decoration: underline;
}

/* close-button */
#popup-close {
    border: none;
    padding: 1.25rem;
    background-color: color-mix(in srgb, var(--fgcolor), white 20%);
    color: var(--text);
    font-size: 1rem;
    font-weight: 900;
    cursor: pointer;
}

#popup-close:hover {
    background-color: color-mix(in srgb, var(--fgcolor), white 40%);
}

#popup-iframe {
    border: none;
    width: 100%;
    flex: 1;
    background: white;
}