html, body{
    height: 100%;
    overflow: hidden;
}
body{
    margin: 0;
    background-image: url(https://static.nike.com/a/images/f_auto/dc5326f0-b1b3-4af9-8d4e-94f404b30f0a/image.jpeg);
    background-size:cover ;
    background-position: center;
}
main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: red;
    font-size: 3rem;}
p{color: white;
    font-size: 1.5rem;}
.jordan{
position:absolute;
width: 450px;
}
.jordan-1{
top: 15%;
left: 1%;
}

.jordan1{
    position:absolute;
    width: 500px;
    }
    .jordan-2{
    top: 50%;
    left: 75%;
    }
    .jordan-logo{
        position:absolute;
        width: 400px;
        }
        .jordan3{
        top: 55%;
        left:37%;
        }



.jordan-1 {
    animation: o 5s infinite alternate;
}
.jordan-2 {
    animation: H 7s infinite alternate;
}
.jordan-logo{
    animation: twinkle s infinite alternate;
    
}
@keyframes twinkle {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
    }
    @keyframes H {
        from{
            transform: scale(1.5) ;
        }
       to {
        opacity:0.5 ;
       }
    }
    @keyframes o{
        to {
            opacity: 1;
        }
        
        from{
            transform: rotate(0deg) translateX(30px) ;
        }
       
            to {
                transform: rotate(360deg) translateX(30px) ;
            }  
    }