@import url("https://use.typekit.net/zyd0wlf.css");
@import 'attention_seekers/bounce.css';
@keyframes spring {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(12%);
  }
}

@keyframes square-in-center {
  from {
    clip-path: inset(100% 100% 100% 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
   
@keyframes pulse {

    0% { transform: scale(1); }

    50% { transform: scale(1.10); }

    100% { transform: scale(1); }

}

@keyframes wipe-in-right {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
  
}

@keyframes circle-in-center {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(125%);
  }
}









.absolute {
    position: absolute;
}

html, body {
  height: 100%;
}

body {
  overflow: hidden;
  background-color:rgb(255, 249, 240);

}

main {
  height: 100%;
  position:absolute;
}

h3#text0 {
    font-size: 200px;
    left: 250px;
    font-family: "brillante-vf", sans-serif;
    font-weight: 400;
    font-style: normal;
    
  animation: spring 3s ease infinite ;
  animation-timing-function:linear(0, 0.01 0.7%, 0.046 1.5%, 0.192 3.2%, 0.391 4.8%, 0.954 8.8%, 1.201 11%, 1.347 13%, 1.388 14%, 1.41 15.1%, 1.411 15.9%, 1.4 16.8%, 1.342 18.6%, 1.256 20.3%, 1.013 24.5%, 0.913 26.7%, 0.857 28.6%, 0.831 30.6%, 0.833 32.1%, 0.851 33.7%, 1.024 41.6%, 1.055 43.8%, 1.069 46%, 1.061 49.3%, 0.991 57.1%, 0.972 61.4%, 0.974 64.8%, 1.011 76.7%, 0.996 91.2%, 1);
  
}
    


h3#kunstkaai {
  font-family: "westsac", sans-serif;
  font-weight: 400;
  font-size: 90px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: -0.6em;
  top: 23%;
  left: 45px;
  color: rgb(185, 49, 49);
  animation: pulse 3s infinite,
  2.5s cubic-bezier(.25, 2, .30, 1) square-in-center both;
}

h3#text1 {
font-family: "rl-limo", sans-serif;
font-weight: 400;
color: rgb(185, 49, 49);
font-style: normal;
font-size: 50px;
top: 6%;
left: 1200px;
animation: 3s cubic-bezier(.25, 1, .30, 1) circle-in-center both,
pulse 3s infinite
}


h3#text2 {
font-family: "rl-limo", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 50px;
color: rgb(185, 49, 49);
top: 10%;
left: 1200px;
  animation: 3s cubic-bezier(.25, 1, .30, 1) circle-in-center both, 
  pulse 3s infinite
}

h3#text3 {
font-family: "rl-limo", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 50px;
color: rgb(185, 49, 49);
top: 14%;
left: 1200px;
animation: 3s cubic-bezier(.25, 1, .30, 1) circle-in-center both,
pulse 3s infinite
}


h3#text4 {
font-family: "rl-limo", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 50px;
color: rgb(185, 49, 49);
top: 18%;
left: 1200px;
animation: 3s cubic-bezier(.25, 1, .30, 1) circle-in-center both,
pulse 3s infinite

}

.image {
  position: absolute;
}

#line {
  top: 45%;
  left: 320px;
  animation: 3s cubic-bezier(.25, 1, .30, 1) wipe-in-right infinite;

}
