@import url("https://use.typekit.net/gmx6rbb.css");

body {
  font-family: "gloria-hallelujah", sans-serif;
  background-color: burlywood;
  background-image: url("images/hout.jpg");
  background-size: cover;
}

.polaroid {
  position: absolute;
  width: 200px;
  background-color: aliceblue;
}

.polaroid img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

#polaroid_01 {
  left: 20%;
  top: 50%;
  rotate: -10deg;
}

#polaroid_02 {
    left: 35%;
    top: 30%;
}
#polaroid_03 {
    left: 5%;
    top: 15%;
}
#polaroid_04 {
    left: 50%;
    top: 20%;
    rotate: -10deg;
}
#polaroid_05 {
    left: 60%;
    top: 40%;
    rotate: 10deg;
}
#polaroid_06 {
    left:50%;
    top: 70%;
}
#polaroid_07 {
    left: 30%;
    top: 5%;
    rotate: -10deg;
}
#polaroid_08 {
    left: 80%;
    top: 60%;
}
#polaroid_09 {
    left: 60%;
    top: 80;
}
#polaroid_10 {
    left: 80%;
    top: 30;
    rotate: 10deg;
}

.polaroid{
    position: absolute;
    width: 200px;
    padding: 16px;
    background-color: rgb(227, 208, 202);
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.4);
}
.polaroid img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    filter: invert(0.24) brightness(1.5) contrast(0.7) saturtate(0.9);
}