@font-face {
  font-family: "Noto Serif";
  src: url("../fonts/NotoSerif-VariableFont_wdth,wght.ttf");
}

@font-face {
  font-family: "Grandview";
  src: url("../fonts/Grandview_Regular.ttf");
}

@font-face {
  font-family: "Grandview";
  font-weight: 500;
  src: url("../fonts/Grandview_Bold.ttf");
}

:root {
  /* Afstanden */
  --sidebar-width: 20rem;
  --margin-top: 2.5rem;
  --margin-bottom: 1.5rem;

  /* Basis kleuren */
  --anchor: #19f;

  --text-light: #222;
  --text-dark: #eee;

  --bg-light: #eee;
  --bg-dark: #222;

  /* Vooraf berekende foregrounds */
  --fg-light: color-mix(in srgb, var(--bg-light) 20%, white);
  --fg-dark: color-mix(in srgb, var(--bg-dark) 80%, black);
}

/* Default: light */
:root {
  color-scheme: light;
  --text: var(--text-light);
  --bgcolor: var(--bg-light);
  --fgcolor: var(--fg-light);
}

/* Automatic dark */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --text: var(--text-dark);
    --bgcolor: var(--bg-dark);
    --fgcolor: var(--fg-dark);
  }
}

/* Overrides via UI */
:root:has(#theme [value="☀️"]:checked) {
  color-scheme: light;
  --text: var(--text-light);
  --bgcolor: var(--bg-light);
  --fgcolor: var(--fg-light);
}

:root:has(#theme [value="🌙"]:checked) {
  color-scheme: dark;
  --text: var(--text-dark);
  --bgcolor: var(--bg-dark);
  --fgcolor: var(--fg-dark);
}

html {
  color-scheme: dark light;
}

#theme {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0.25rem;
  padding-left: 0.5rem;
  background-color: var(--fgcolor);
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  filter: grayscale(1);
}

* {
  transition: all 100ms;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html,
body,
main {
  min-height: 100vh;
}

body {
  background-color: var(--bgcolor);
  color: var(--text);
  font-family: "Noto Serif";
  font-family: "Grandview";
  line-height: 1.61803;
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  max-width: calc(var(--sidebar-width) + 80ch + 8rem);
  margin: 0 auto;
}

body::after {
  position: fixed;
  bottom: 50vh;
  right: calc(-3rem - 2px);
  padding: 1rem 2ch;
  content: "Kunstkaai - V. Vander Cruyssen";
  background-color: var(--fgcolor);
  font-size: 0.6rem;
  rotate: 90deg;
  line-height: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
li,
img,
video,
object,
table,
div:has(iframe),
iframe,
hr,
details,
.highlight,
pre {
  margin-bottom: var(--margin-bottom);
}

h2, h3 {
  margin-top: var(--margin-top);
}

details:last-of-type {
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
}

ul li ul {
  padding-left: 2ch;
}

ul li ul li {
  margin-bottom: 0;
}

h1 {
  font-size: 2.5rem;
  /* overflow: hidden; */
  text-overflow: ellipsis;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

p,
li {
  max-width: 80ch;
  word-break: break-word;
}

/* :is(h1, h2, h3, h4, h5, h6) + p {
  text-indent: 2ch;
} */

a {
  color: var(--anchor);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  font-size: 1rem;
}

img,
video,
object {
  display: block;
  max-width: 100%;
  height: auto;
}

table {
  border-spacing: 0;
  width: calc(100% + 1rem);
  margin-left: -0.5rem;
}

table th {
  text-align: left;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
}

/* ??? */
table th:has(strong) {
  padding-bottom: 1rem;
}

table tr {
  height: 100%;
}

table td {
  padding-right: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  height: 100%;
  word-break: break-word;
}

table tr td a {
  height: 100%;
}

table tr td p {
  margin: 0;
}

table tr:last-child td {
  padding-bottom: 0;
}

table img,
table object,
table video,
table div:has(iframe) {
  margin: 0;
  min-width: 5rem;
}

pre {
  white-space: pre-wrap;
}

summary {
  cursor: pointer;
  user-select: none;
}

header,
main {
  padding: 0;
  background-color: var(--fgcolor);
}

header {
  width: var(--sidebar-width);
}

header .fixed {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;
}

header h1 {
  font-size: 1.3rem;
}

header a {
  display: block;
  padding: 0.4rem 0;
}

header nav {
  font-size: 0.8rem;
  overflow-y: scroll;
}

header li {
  margin: 0;
}

/* prefix-counters heading levels */

/* reset h2 */
main,
header nav#TableOfContents {
  counter-reset: h2;
}

/* reset h3 */
main h2,
header nav#TableOfContents>ul>li {
  counter-reset: h3;
}

/* prefix voor h2 */
main h2::before,
header nav#TableOfContents>ul>li>a::before {
  counter-increment: h2;
  content: counter(h2) ". ";
}

/* prefix voor h3 */
main h3::before,
header nav#TableOfContents>ul>li>ul>li>a::before {
  counter-increment: h3;
  content: counter(h2) "." counter(h3) " ";
}

/* reset h4 */
main h3 {
  counter-reset: h4;
}

/* prefix voor h4 */
main h4::before {
  counter-increment: h4;
  content: counter(h2) "." counter(h3) "." counter(h4) " ";
}

main {
  margin: 0 2rem;
  padding: 1rem 2rem;
}

main ul li::before {
  content: "↪ ";
}

/* ordered lists: altijd dubbele digits */

main ol li {
  counter-increment: item;
}

main ol li::before {
  content: "0" counter(item) ". ";
}

main ol li:nth-child(n + 10)::before {
  content: counter(item) ". ";
}

.highlight * {
  background-color: var(--fgcolor) !important;
}

span {
  color: var(--text);
}

footer {
  grid-column: 2;
}

@media (max-width: 900px) {
  body {
    display: block;
    max-width: 100%;
  }

  header {
    display: none;
  }

  main {
    margin: 0 1rem;
  }
}

@media (max-width: 600px) {
  div:has(img) {
    width: 100% !important;
  }
}