body {
    background-color: rgb(127, 124, 157);
}

header {
    background-color: #52527d;
}

h1 { 
    font-size: medium;
}

h2 {
    color: rgb(0, 0, 0);
}

section {
    border-color: rgb(95, 75, 220);
}

#Klimaat {
    border-color: rgb(161, 87, 226);
}

section {
    background-color: rgb(166, 172, 223);
}

img {
    max-width: 100%;
    border: 5px solid rgb(47, 44, 65);
}