
label,input,textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

body {
  background-color: #f6f4ef;
  font-family: "Georgia", serif;
  color: #222;
}

section {
  max-width: 1100px;
  margin: 5rem auto;
  padding: 2rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 4rem;
  font-weight: 400;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    font-weight: 580;
}

main {
    max-width: 450px;
    margin: 0 auto;
}

form {
    width: 50%;
    margin: auto;
}

button {
    background-color: rgb(93, 68, 56);
    color: #f6f4ef;
    padding: 10px ;
}

button:hover{
    background-color: rgb(108, 80, 67);
}

