* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html,
body {
    height: 100%;
    background-color: #000;
}

body {
    background-image: url("");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}