* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #000000;
    color: white;


 }
  
  .logo {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .nav a {
    margin: 0 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s ease;
  }
  
  .nav a:hover {
    color: #414242;
  }
  
  .btn {
    background: #5f5f5f;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s ease;
  }
  
  .btn:hover {
    background: white;

  }
html,body {
    height: 100%;
}

  body{
    font-family: "kuhlman-vf", sans-serif;
    background-color: #000000;

  }
  img {
    width: 100%;
  }
  main{
    text-align: center;
    padding: 10px;
    color: aliceblue;
    font-family: Arial, Helvetica;
   min-height: 100%;
    background-color: black;
  }
h1 {
    font-family: "kuhlman-vf", sans-serif;
    margin-top: 40px;
}
.space{
  position: relative;
  width: 400px;
  height: 400px;
  margin: auto;
}


.planet{
  width:800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
}


.orbit{
  position: absolute;
  width: 1000px;
  height: 1000px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  border-radius: 50%;
  animation: spin 12s linear infinite;
}

.rocket{
  width: 200px;
  position: absolute;
  top: -10;
  left: 50%;
  transform: translateX(-50%);
}
@keyframes spin{
  from{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.animal-section{
  width: 100%;
  margin-top: 100px;
}


.row{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}


.row p{
  width: 400px;
  text-align: center;
  margin: 0 30px;
  font-size: 18px;
}


.row img{
  width: 250px;
  height: auto;
}

.left{
  margin-right: 200px;  
}

.right{
  margin-left: 200px;   
}
footer{
  color: #ffffff;
  text-align: center;
}