html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}


body {
    background-image: url(afbeeldingen/galaxy.avif);
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: white;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}


h1 {
    font-size: 3em;
    margin: 0;
}


p {
    font-size: 1.5em;
    margin-top: 10px;
}


img {
    position: absolute;
    width: 100px;/
}


.planeet-1 {
    width: 300px;
    top: 15%;
    left: 15%;
    animation: bewegen-planeet1 10s infinite linear;

}

.planeet-2 {
    width: 250px;
    top: 60%;
    right: 25%;
    animation: bewegen-planeet2 15s infinite linear;
}

.ster-1 {
    top: 10%;
    left: 80%;
    animation: twinkelen 2s infinite alternate;
}

.ster-2 {
    top: 50%;
    left: 10%;
    animation: twinkelen 3s infinite alternate;
}


@keyframes bewegen-planeet1 {
    0% {
        transform: rotate(0deg) translateX(150px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
}

@keyframes bewegen-planeet2 {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(0);
    }
}


@keyframes twinkelen {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}