@font-face {
    font-family: gast;
    src: url(GastrolineSignature_PERSONAL_USE_ONLY.otf);
  }

body{
    background-image: url("fotos\ pol/city.avif");
    font-family: gast;
    color: blue;
    background-color: black;
    background-size: cover;
}

.polaroid {
    padding: 16px;
    position: absolute;
    width: 200px;
    background-color: aqua;
    filter:invert(0.2) brightness(1.0) contrast(1.1);
}
.polaroid img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover
}
#polaroid_01 {
    left: 40%;
    top: 30%;
    rotate: -30deg;
}
#polaroid_02 {
    left: 20%;
    top: 5%;
    rotate: 20deg;
}
#polaroid_03 {
    left: 60%;
    top: 20%;
    rotate: 20deg;
}
#polaroid_04 {
    left: 70%;
    top: 60%;
    rotate: -30deg
    ;
}
#polaroid_04 {
    left: 65%;
    top: 60%;
    rotate: 20;
}
#polaroid_05 {
    left: 80%;
    top: 75%;
    rotate: 20deg;
}
#polaroid_06{
    left: 20%;
    top: 40%;
    rotate: 30deg;
}
#polaroid_07{
    left: 90%;
    top: 7%;
    rotate: -20deg;
}
#polaroid_08{
    left: 10%;
    top: 60%;
    rotate: 
}