body {
    background-color: rgb(247, 184, 184);    
    color: #eecbcb;                  
    font-family: Arial, sans-serif;  
    margin: 0;                    
    padding: 0;
}


header {
    background-color: #ff8a8a;  
    padding: 20px;             
    text-align: center;
    border-bottom: 3px solid #ff0000;
}

header h1 {
    color: #f93402;             
    font-size: 32px;
    margin: 0;
}


a {
    color: #fb002a;
    text-decoration: none;  
}    

a:hover {
    color: #f50000;             
    text-decoration: underline; 
}


main {
    max-width: 800px;
    margin: 20px auto;          
    
    padding: 20px;
}


section {
    background-color: #fdadad;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ff0000;
}


#beschrijving {
    background-color: #ff0000;   
    border-left: 5px solid #ff0000;
}


section h2 {
    color: #ff0000;
    margin-top: 0;
}


img {
    display: block;
    margin: 15px auto;
    border-radius: 10px;
}