body {
   background-color:rgb(56, 108, 44); 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Skibidi {
    background-color: rgb(129, 170, 133);
font-family: monospace;
padding: 10px;
}

#Oorhaar {
background-color: rgb(129, 170, 133);
font-family: 'Times New Roman', Times, serif;
padding: 10px;
}

#Balhaar {
    background-color: rgb(129, 170, 133);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}

