body {
    background-color: rgb(221, 226, 190);
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    margin: auto;
}

header {
    background-color: rgb(201, 202, 148) ;
    padding:20px;
    margin-bottom: 40px;
}

h2 {
    color: rgb(159, 167, 96);
}

h3 {
    color: rgb(159, 167, 96);
}

a {
    color: black;
}

main {
    max-width: 900px;
    margin: 0 auto;
}