html, body {
    height: 100%;
  }
  
  body {
    overflow: hidden;
    background-color: #202020fe;
    font-family: "carilliantine", sans-serif;
    font-weight: 400;
    font-style: normal;
    animation: color-change-2x 0.01ms steps(100,end) 10s infinite alternate both;
  }
  
  main {
    height: 100%;
  }

  h1  {
    font-size: 12vw;
    color: #880c0c;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  
@keyframes typing {
    from { width: 0; }
    to { width: 71%; }
}

h1 {
    overflow: hidden; 
    white-space: nowrap; 
    border-right: 0.15em solid #ffffff; 
    width: 0; 
    animation: typing 6s steps(30) infinite, 
               blink 0.75s step-end infinite;
}

@keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: #880c0c; }
}
 h2 {
  font-size: 6vw;
  color: #880c0c;
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%);
    animation: jello-horizontal 2s infinite ease-in-out;
    
}
 
 @keyframes jello-horizontal
 {
  0%{transform:scale3d(1,1,1)}30%{transform:scale3d(1.25,.75,1)}40%{transform:scale3d(.75,1.25,1)}50%{transform:scale3d(1.15,.85,1)}65%{transform:scale3d(.95,1.05,1)}75%{transform:scale3d(1.05,.95,1)}100%{transform:scale3d(1,1,1)}
}
#kunst
{
  font-size: 8vw;
  color: #880c0c; ;
  writing-mode: vertical-rl;
  position: absolute;
animation: beweegen 5s infinite alternate;
 
}


@keyframes beweegen {
  0% { transform: translateY(0); }
  100% { transform: translateY(1300px); }
}

