body{
font-family:Arial,sans-serif;
background:#f0ead2;
text-align:center;
}

.container{
max-width:800px;
margin:auto;
padding:20px;
}

#child{
font-size:160px;
cursor:pointer;
transition:.2s;
}

#child:hover{
transform:scale(1.1);
}

button{
padding:12px 20px;
margin:10px;
border:none;
border-radius:10px;
cursor:pointer;
background:#5f6f52;
color:white;
}

.stats{
background:white;
padding:15px;
border-radius:15px;
margin-bottom:20px;
}

.shop,
.missions{
background:white;
padding:15px;
margin-top:20px;
border-radius:15px;
}

.hidden{
display:none;
}

.done{
color:green;
font-weight:bold;
}