body {
    overflow-x: hidden;
}

body{
    background-color: rgb(0, 255, 119); 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: deepskyblue;
}

header{
  background-color: rgb(0, 102, 255);
  padding: 40px;
}
section{
    background-color: rgb(0, 0, 0);
    padding: 40px;
}
#cast{
    background-color: rgb(184, 96, 162);
}
