body {
background-color: pink;
font-family: monospace;
margin: auto;
}
header{
    background-color: papayawhip;
    padding: 2%;
}
section{
    padding: 2%;
}
#recept_2 {background-color: rgb(115, 218, 251);}
#recept_3{background-color: burlywood;}

a {
    text-decoration: none;
    text-decoration: black;
}
