body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
 }
 p{
    color: white;
 }
 li{
    color: dimgrey;
 }
 h1{
    color: slategrey;
 }
section{
   padding: 15px;
}


img {
   max-width: 100%;
}