body{background-color: rgb(255, 223, 182);font-family: Georgia, 'Times New Roman', Times, serif;margin: 20;padding: 20;color: rgb(15, 9, 73);}

header{border: rgb(254, 219, 176);padding: 20;}

h1{font-size: 90;color: black;}

section{margin: 20;padding: 20;background-color: rgb(255, 233, 198);}
header{background-color:antiquewhite}
a{:hover;color:chocolate;}
