body {
  font-family: Arial, sans-serif;
  background: #e8e2e2;
  margin: 0;
  padding: 20px;
}

main {
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

input, button {
  padding: 10px;
  margin: 5px 0;
}

#resultaat {
  margin-top: 20px;
}

.card {
  background: #fafafa;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.card img {
  width: 120px;
  border-radius: 5px;
}
