body {
    background-color: rgb(93, 208, 208);
    color: rgb(0, 0, 0);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: #0400ff;
    color: rgba(0, 0, 0, 0.784);
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    color: #000000eb;
}
main {
    padding: 20px;
}
section {
    margin-bottom: 20px;
}
.info-block {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(34, 0, 255, 0.563);
}
.info-block h2 {
    color: #ff0000;
}
.poster {
    text-align: center;
    margin: 20px 0;
}
.poster img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(4, 0, 255);
}
.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.gallery img {
    width: 180px;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
    background-color: #ff0000;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
a {
    color: #0037ff;
}
#cast {
    background-color: #0400ff;
}

img {
    max-width: 100%;
}