html,
body,
main {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: darkgrey;
    background-image: url(fotos.horse/carpediem_Droneview-LOWRES.jpg);
    background-size: cover;
    color: rgb(243, 189, 255);
    font-family: monospace;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

.horse {
    position: absolute;
}

.horse-one {
    width: 15%;
    top: 23%;
    left: 13%;
    animation: twinkle 2s infinite alternate;
    animation: huppelen .2s linear infinite alternate;
}

.horse-twee-container {
    position: absolute;
    width: 250px;
    top: 60%;
    animation: links-rechts 3s infinite linear;
}

@keyframes links-rechts {
    from {
        left: -250px;
    }

    to {
        left: 100%;
    }
}

.horse-twee {
    width: 100%;
    animation: huppelen .5s infinite linear alternate;
}

@keyframes huppelen {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-80px);
    }
}

.ruiter-1 {
    width: 15%;
    top: 75%;
    left: 10%;
    animation: orbit 4s infinite alternate
}

.ruiter-2 {
    width: 25%;
    top: 75%;
    left: 67%;
    animation: twinkle 2s infinite alternate
}

@keyframes orbit {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes twinkle {
    from {
        opacity: 45%;
    }

    to {
        opacity: 100%;
    }
}