body {
    font-family: "cc-spaghetti-western-sans", sans-serif;
 background-color: rgb(64, 40, 40);
background-image: url(img/foto.jpeg );
background-size: 150%;}
.polaroid {
    width: 200px;
    background-color: white;
position: absolute;
padding: 15px;
text-align: center;
box-shadow: 10px 2px 30px;
box-sizing: border-box;
}
.polaroid img { width: 100%;
 aspect-ratio:1/1;
 object-fit: cover;
object-position: bottom;
filter: invert(5%) contrast(80%) brightness(120%) saturate(120%) sepia(20%);
} 

h3 { color: rgb(117, 0, 0);}


#polaroid_1{ top: 0%;
rotate: 20deg; left: 35%;}
#polaroid_2{ top: 60%;
left:  50%;
 rotate: -20deg;}
#polaroid_3{ top: 70%;
left: 30%; rotate: 30deg;}
#polaroid_4{ top: 30%; left: 45%;rotate: 15deg;}
#polaroid_5{ top: 3%; 
left: 67%;
rotate: -20deg;}
#polaroid_6{ top: 35%;
left: 20%; rotate: -20deg;}
#polaroid_7 { top: 48%;
left: 68%;
rotate: 25deg;}

#polaroid_8 { top: 62%;
left: 7%; rotate: -23deg;}

#polaroid_9 { top: 6%;
left: 7%;
rotate: -21deg;}

