body{
    background-color: rgb(186, 186, 247);
    color: rgb(235, 235, 249);
    font-family: Georgia, 'Times New Roman', Times, serif;

    
}
header{
    margin: 2%;
    padding: 2%;
    background-color: rgb(176, 176, 252);
}
nav{
    display: flex;
    gap: 16px;
}
nav a{
    padding: 16px;
    background-color: rgb(155, 155, 248);
    color: rgb(235, 235, 249);
    text-decoration: none;
}
nav a:hover{
    background-color: rgba(230, 230, 250, 0.337);
}
.galerij{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32PX;
    max-width: 100%;
}

main {
    padding: 1% 4%;
}