html, body {
    height: 100%;
    background-color: cornsilk;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    height: 100%-120px;
    text-align: center;
    background-color:white;
    padding: 4%;
}

main{
    align-items: center;
    height:calc(100% - 120px);
    gap: 20px;
    padding: 20px;
    
}

.Tijdlijn-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    background-color: white;
}

.Tijdlijn-container{
    scroll-snap-type: x proximity;
    overflow-x: auto;
}

.Tijdlijn-item{
    scroll-snap-align: start;
    min-width: 60ch;
    background-color:white;
}

img{width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}