section {
max-width: 750px;
margin: auto;
color: rgb(0, 0, 0);
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color:goldenrod;
color: rgb(255, 255, 255);
}

header {
border-radius: 12px;
margin: 15px;
}

header nav {
    display: flex;
    gap: 30px;
}

img {
width: 250px;
margin: 15px;
max-height: 350px;

}

html {
background-color: black;
}

a {
color: rgb(255, 255, 255);
}

footer {
color: rgb(255, 255, 255);
}