body {
  margin: 0;
  overflow: hidden;
  background: black;
  font-family: Arial, sans-serif;
}

canvas, video {
  position: absolute;
  top: 0;
  left: 0;
}

#webcam {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

#webcamFx{
  mix-blend-mode: screen;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 60px;
  pointer-events: none;
  mix-blend-mode: difference;
}

#fullscreenBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background: white;
  border: none;
  cursor: pointer;
}