html, body, main {
    overflow: hidden;
}

body {
    background-color: rgb(149, 179, 105);
    background-image: url(images/ba5d971232acaeb23ca69e3b0e6ee1ca.jpg);
    background-size: 100vw;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

html, body, main {
    height: 100%;
}

.sillies {
    position: absolute;
}

.gir {
    bottom: 1%;
    right: 1%;
    animation: t;
}

.epic {
    bottom: 1%;
    left: 1%;
}

.nyan {
    top: 25%;
    left: 1%;
    animation: nyan 4s infinite;
}

.star {
    top: 5%;
    left: 60%;
    animation: twinkle 2s infinite alternate;
}

@keyframes twinkle {
    from {
        opacity: 20%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes nyan {
    from {
        transform: translate(-200px);
    }
    to {
        transform: translate(1500px);
    }
}

