body {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    text-align: center;
    background-color: rgb(228, 246, 255);
    font-size: 17px;
}

main {
    margin: auto;
    max-width: 50%;
    padding: 1%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-top: 2%;
    background-color: rgb(182, 231, 255);
}

#naam,#email,#datum,#tijd,#nummer {
    max-width: 20%;
    padding: 1%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-bottom: 3%;
    background-color: rgb(206, 236, 249);
    z-index:999; 
    cursor: pointer; 
    -webkit-transition-property: all;
            transition-property: all;
    -webkit-transition-duration: 0.4s; 
            transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
}

#naam:hover,#email:hover,#datum:hover,#tijd:hover,#nummer:hover {
    background-color: rgb(239, 252, 255);
    font-size: 15px;
}

label {
    padding: 1%;
    display: inline-block;
}

#bericht {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-bottom: 3%;
    background-color: rgb(206, 236, 249);
    z-index:999; 
    cursor: pointer; 
    -webkit-transition-property: all;
            transition-property: all;
    -webkit-transition-duration: 0.4s; 
            transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
}

#bericht:hover {
    background-color: rgb(239, 252, 255);
    font-size: 15px;
}

#submit {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 2%;
    background-color: rgb(213, 243, 249);
    z-index:999; 
    cursor: pointer; 
    -webkit-transition-property: all;
            transition-property: all;
    -webkit-transition-duration: 0.4s; 
            transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
}

#submit:hover {
    background-color: rgb(239, 252, 255);
    color: rgb(0, 81, 255);
    font-size: 18px;
}