html, body, main{
    height: 100%;
    overflow: hidden;
}


body{
background-color: rgb(64, 4, 133);
background-image: url(afbeeldingen/galaxy4.jpg);
background-size: 1000px;
color: azure;
font-family: monospace;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.planeet {
    position: absolute;
}

.saturnus {
    width: 33%;
    top:5%;
    left: 10%;
    animation: orbit 5s infinite linear;
}

.jupieter{
    width: 33%;
   top : 55%;
   right: 5%;
   animation: orbit1 4s infinite linear;
}

.ster{
    position: absolute;
    width: 40px;
    top: 9%;
    right: 10%;
    animation: twinkle 2s infinite alternate;
}
.ster2{
    position: absolute;
    width: 40px;
    top: 60%;
    left: 10%;
    animation: twinkle 2s infinite alternate;
}

.ster3{
    position: absolute;
    width: 40px;
    top: 85%;
    left: 45%;
    animation: twinkle 4s infinite alternate;
}

.ster4{
    position: absolute;
    width: 40px;
    top: 30%;
    right: 40%;
    animation: twinkle 3s infinite alternate;}

@keyframes twinkle{
    from{
        opacity: 20%;
    }
    to{
       opacity: 100%; 
    }
}

@keyframes orbit{
    from{
        transform: rotate(0deg) translateX(70px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(70px) rotate(-360deg);
    }
}

@keyframes orbit1{
    from{
        transform: rotate(360deg) translateX(70px) rotate(-360deg);
    }
    to{
        transform: rotate(0deg) translateX(70px) rotate(0deg);
    }
}