html, body {
  height: 100%;
}

body {
  width: 100%;
  overflow: hidden;
  background-color: rgb(80, 1, 98);
 
}

main {
  width: 100%;
  height: 100%;
}

 .absolute {
position: absolute;
 color: rgb(251, 0, 255);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

#kunstkaai {font-size: 4vw;
left: 30%; 
top: 30%;
animation: verplaatsen 1ms infinite alternate linear;}

@keyframes verplaatsen 

{
  0% {

    top: 10%;
    left: 10%;
    rotate: 800000000000000deg;
  }
  100% {
    top: 50%;
    left: 50%;
    rotate: 100000000000000000000000000000000000000000000000000deg;

  }
  
}

#creativiteit { font-size: 2vw;
rotate: 90deg;
top: 20%;

animation: orbit 2s infinite linear;}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(60px) rotate(0deg);
  }

  to {
    transform: rotate(-360deg) translateX(60px) rotate(360deg);

  }
  
}

#creatie { font-size: 2vw;
top: 82%;
left: 13%;
animation: orbit 2s infinite linear;
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(60px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(60px) rotate(360deg);

  }
  
}

#animatie { font-size: 2vw;
left: 80%;
rotate: -180deg;
}



 
#beeld { font-size: 3vw;
top: 70%;
left: 85%;
rotate: -90deg;
animation: boven 2s infinite alternate linear;}

@keyframes boven
{
 0% { top: 10%;

rotate: 360deg;}


}



