@font-face {
    font-family: "Retro Gaming";
    src: url("Retro Gaming.ttf");
}

html,body {
    height: 100%;
    background-color: rgb(203, 231, 255);
    font-family: "Retro Gaming";
    font-size: small;
}

header {
    background-color: rgb(186, 223, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

main {
    height: calc(75% - 120px);
    display: flex;
    align-items: center;
}

.tijdlijn-container {
    scroll-snap-type: x proximity;
    display: flex;
    gap: 20px;
    overflow-x: auto;
    align-items: center;
}

.tijdlijn-item {
    scroll-snap-align: start;
    min-width: 40ch;
    padding-bottom: 1%;
    background-color: rgb(186, 223, 255);
    text-align: center;
}

img {
    width: 90%;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}