{{ $image := resources.Get (.Get "src") }}
{{ $width := .Get "width" | default "800" }}
{{ $resized := $image.Resize (print $width "x webp") }}
{{ $fileName := path.Base (.Get "src") }} <!-- Ensure correct file name retrieval -->
{{ $fileNameWithoutExt := replace $fileName (path.Ext $fileName) "" }} <!-- Remove extension -->
{{ $center := .Get "center" }}

{{ if $center }}
  <div style="display: flex; justify-content: center;">
{{ end }}

  <img src="{{ $resized.Permalink }}" alt="{{ $fileNameWithoutExt }}">
  
{{ if $center }}
</div>
{{ end }}