{{ $width := .Get "width" | default "640" | int }}
{{ $cols := .Get "cols" | default "3" | int }}
{{ $calcCols := div $width $cols }}

<style>
    .pinboard span {
        border: none !important;
        border-radius: 0 !important;
    }

    .pinboard span[style*="width"] {
        display: block !important;
        width: calc(100% + 1rem) !important;
        margin-bottom: 1.5rem;
        margin-left: -0.5rem;
    }

    .pinboard span:first-of-type>span:first-child {
        display: none;
    }

    .pinboard span:last-of-type>span:last-child {
        display: none;
    }

    .pinboard span[style*="width"]>span:nth-child(2) {
        padding: 0px !important;
    }

    .pinboard span[style*="width"]>span:nth-child(2)>span>span {
        padding: 0 0.5rem !important;
    }

    .pinboard span[style*="width"]>span:nth-child(2)>span>span>span[style*="background-image"] {
        display: block !important;
        margin-bottom: 1rem !important;
    }
</style>

<div class="pinboard">
    <a data-pin-do="embedBoard" 
        href="{{ .Get "url" }}"
        data-pin-scale-width="{{ $calcCols }}"
        data-pin-scale-height="{{ .Get "height" | default "640" }}"
        data-pin-board-width="{{ $width }}">
    </a>
</div>
<p style="text-align: center;"><a href="{{ .Get "url" }}" target="_blank">Bekijk board op Pinterest.</a></p>
<script async defer type="text/javascript" src="https://assets.pinterest.com/js/pinit.js"></script>