body {
    background-color:rgb(236, 219, 196);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(117, 71, 62);
}

header {
    color: rgb(255, 255, 255);
    background-color: rgb(211, 182, 147);
    padding: 10px;
}
h2 {
    margin-bottom: 20px;
}
section{
    background-color: rgb(255, 246, 237);
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 1%;
}
#hobbys {
    padding: 10%;
}