body {
    padding: 6px;
    background-color: rgb(104, 185, 168);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 14px;
    color: rgb(147, 182, 174);
}

header {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    border-style: solid;
    border-width: 2mm;
    border-color: rgb(42, 85, 76);

}

h1 {
    font-size: 15mm;

    color: rgb(104, 185, 168);
    border-radius: 10px;
    border-style: solid;
    border-width: 2mm;
    border-color: rgb(104, 185, 168);

}

a {
    color: rgb(104, 185, 168);
    text-decoration: none;
}
 a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(104, 185, 168);
 }

section {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    
    border-style: solid;
    border-width: 2mm;
    border-color: rgb(42, 85, 76);
    padding: 20px;
    margin: 20px 0;
}

#tit{
    font-size: 6mm;
    color: rgb(104, 185, 168);
}

#in {
    background-color: rgb(104, 185, 168);
    color: rgb(68, 123, 111);
}