body {
    height:100% ;
    
}
main { 
    background-image: url(images/background2.jpg);
    background-size: cover;
    height:calc(100%) ;
    align-items: center;
    
}
header {
    height: 50px; ;
}
img {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 200px;
    height: 200px;
}
div.tijdlijn-container {
    scroll-snap-type:x proximity ;
    overflow-x: auto;
    display: flex;
    gap: 20px;
    padding: 20px;

}
p {
    color: #ffffff;
}
h2 {
    color: #ffffff;
}
h3 {
    color: #ffffff;
}
div.tijdlijn-item {
    padding: 50px;
    border-radius: 10px;
    background-color: #00000060;
    scroll-snap-align: start;
}