body {
    background-color: rgb(245, 200, 141);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    padding: 20px;
}
header {
    padding: 20px;
    font-size: small;
    text-align: center;
}
h1{
    text-align: center;
    font-size: larger;
    }

    header{
    background-color: rgb(227, 180, 118);
    font-family: fantasy;
    border-radius: 20px;
    text-align: center;
    font-size: larger;
    }
    p{
    text-align: center;
    }
    h2{
    background-color: rgb(210, 168, 113);
    border-radius: 20px;
    text-align: center;
    font-size: larger;
    }
    header a:hover{
    color: rgb(126, 74, 74);
    }

    nav a{
        margin: 0 15px;
        
    }
    a:hover{
        background-color: rgb(189, 160, 101);
    }
    .galerij{display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

iframe,
    img
    {width: 100%;
    max-width: 100%;
}

footer {
    text-align: center;
}

    