body {
    background-color: rgb(55, 95, 65);
    color: rgb(111, 187, 76);
    font-family: "p22-morris-troy", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header a {
    color: rgb(134, 208, 133);
}