
    
body {
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
section {
background-color: sandybrown;
padding: 40px;
margin-bottom: 50px;
}
 
main {
    background-color:bisque;
    margin: 40px;
}
header {
    background-color: sandybrown;
    }