html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #939393;
    color: rgb(255, 255, 255);
}


header {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(47, 47, 47);
}



main {
    height: calc(100% - 120px);
    display: flex;
    align-items: center;
}


.tijdlijn-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
    scroll-snap-type: x proximity;
}


.tijdlijn-item {
    min-width: 40ch;
    background-color: hsl(0, 0%, 22%);
    padding: 15px;
    border-radius: 10px;
    scroll-snap-align: start;
}


.tijdlijn-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 10px 0;
}