body {
    background-color: rgb(186, 185, 145);
    color: rgb(226, 225, 177, 0.994);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    background-color: rgba(226, 225, 177, 0.994);
    padding: 10%;
    margin: 0%;
}

h1 {
    font-size: 80px;
}

a {
    color: rgb(186, 185, 145);
    text-decoration: none;
}

nav {
    display: flex;
    gap: 16px;
}

nav a {
    padding: 16px;
    border-radius: 20px;
    background-color: rgb(186, 185, 145);
    color: rgb(226, 225, 177, 0.994);
    text-decoration: none;
}
nav a:hover {
    background-color: rgb(226, 225, 177, 0.994);
    color: rgb(186, 185, 145);
}

main {
    padding: 10%;
}

section {
    background-color: rgba(226, 225, 177, 0.312);
    padding: 10%;
}

#galerij {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

img {
    max-width: 100%;
}

iframe,
img {
    width: 100%;
    max-width: 100%;
}